<% @products.each do |p| %>
  <div class="product-box">
    <%= link_to product_path(p) do%>
      <%= image_tag p.image %><br>
      <%= p.name %>
    <% end %>
    $<%= p.price %>
  </div>
<% end %>

<%= paginate @products %>